.catalog {
    height: 1100px;
    background-image: linear-gradient(to right bottom, #301f29, #392f42, #39425a, #30566e, #286b79, #1f7075, #21746d, #2d7763, #226c52, #1a6240, #14572e, #114c1b);
}
.catalog .filter-list button {

    margin-right: 6px;
    font-weight: bold;
    
}
.catalog .product-list {
    margin-top: 12px;
}

.btn-cat {
    size: 200px;
    color: white;
    background-color: black;
    font-size: 50px;
    margin: 30px;
}

.h1-backround {
    color: black;
    font-weight: bolder;
    text-decoration-line: underline;
}
