.home{
    height: 850px;    
    background-color: darkgreen;
    background-image: linear-gradient(to right, #251e22, #3d333c, #544a59, #6a6379, #7d7e9b, #7487a9, #6691b5, #519bbd, #0093a7, #008985, #007c5a, #1c6d2a);
}
.home h1{
    margin-top: 30px;
    color: black;
    text-decoration: underline;
    padding-bottom: 20px;
    font-weight: 900;
}
.home img {
    width: 25%;
    border-radius: 10%;
    border: black, 2px;
}


