.product {
    border: 2px solid black;
    width: 270px;
    height: 400px;
    display: inline-block;
    margin: 12px;
    vertical-align: top;
    background-color: darkgray;
    border-radius: 10%;
}

.product h3 {
    margin-top:0px;
    margin-bottom: 6px;
    color: black;
}

.product img {
    width: 248px;
    height: 260px;
    border-radius: 10%;
    margin-top: 15px;
}

.product .prices {
    display: flex;
    margin-bottom: 12px;
}

.product .prices label {
    flex: 1;
    color: red3;
    font-weight: bolder;
}